<ion-footer>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">
      James Reed © 2022
    </ion-title>
    <ion-title class="ion-text-center ion-padding-vertical">
      <a target="_blank" href="https://twitter.com/reedandj1">
        <ion-icon name="logo-twitter" style="font-size: 2rem;"></ion-icon>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/james-reed-a6b413111/">
        <ion-icon name="logo-linkedin" style="font-size: 2rem;"></ion-icon>
      </a>
      <a target="_blank" href="https://www.instagram.com/reedandj1/">
        <ion-icon name="logo-instagram" style="font-size: 2rem;"></ion-icon>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
