<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-title class="ion-text-center">James Reed © 2022</ion-title>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="display: flex;
      justify-content: space-around;"><a target="_blank" href="https://twitter.com/reedandj1">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/james-reed-a6b413111/">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a target="_blank" href="https://www.instagram.com/reedandj1/">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
