<ion-footer>
  <ion-toolbar>
    <ion-title mode="ios">
      James Reed © 2022
      <a target="_blank" href="https://twitter.com/reedandj1">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/james-reed-a6b413111/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a target="_blank" href="https://www.instagram.com/reedandj1/">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a target="_blank" href="https://james-reed.hashnode.dev/">
        <ion-icon name="pencil-outline"></ion-icon>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
