.project_column {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-footer {
  width: 100%;
  bottom: 0;
}

ion-card {
  min-height: 74vh;
  img {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
}
