<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col sizeSm="6" offsetSm="3" sizeMd="6" offsetMd="3" sizeLg="4" offsetLg="4" sizeXl="4" offsetXl="4" size="12">
      <ion-row [hidden]="errorMsg.length == 0">
        <ion-text>{{errorMsg}}</ion-text>
        <ion-button (click)="closeError()">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-row>
      <form [formGroup]="formData" name="formData" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label for="name">Name: </ion-label>
          <ion-input autocapitalize="words" autocomplete="name" autofocus="true" clearInput="true" inputmode="text"
            placeholder="Please enter your name..." maxlength="50" name="name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label for="email">Email: </ion-label>
          <ion-input autocomplete="email" inputmode="email" placeholder="Please enter your email..." type="email"
            clearInput="true" maxlength="50" name="email" formControlName="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label for="message">Message: </ion-label>
          <ion-textarea autocapitalize="sentences" inputmode="text" maxlength="200"
            placeholder="Please enter your message here..." spellcheck="true" name="message" autoGrow="true"
            formControlName="message">
          </ion-textarea>
        </ion-item>
        <ion-button type="submit" [disabled]="formData.invalid">Send</ion-button>
      </form>
    </ion-col>
  </ion-row>
  <app-footer slot="fixed"></app-footer>
</ion-content>
